*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar{
    position: fixed;
    background: #0082e6;    
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5vw;
    height: 60px;
    margin-top: -60px;
    opacity: .75;
  }
  .navbar input{
      margin:15px;
      height: 25px;
      border: none;
      border-radius: 5px;
      margin-right: 20vw;
  }
.navbar ul{
   font-size: 19px;    
    
}

.navbar ul li{   
    list-style: none; 
   padding: 15px;
}
.navbar ul li a{
    padding: 5px;
    text-decoration: none;
    color: white;
          
    
}

.conteudo{
    margin-top: 60px;
    width: 100%;
    height: 100vh;
    background-color: yellowgreen;
}